body{
    background-color: rgb(114, 177, 103);
}

.head-link{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.name{
    text-shadow: 5px;
    text-align: center;
}

.main-img{
    height: 319px;
    width: 612px;
}