.content{
    background-color: rgb(158, 159, 160);
    max-width: 300px;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
}
.content > img{
    border-radius: 10px;
}

.content p{
    line-height: 20px;
}

.button{
    background-color: rgb(69, 151, 195);
    color: black;
    border: 0px;
    padding: 3px;
    border-radius: 3px;
}

.user-comment{
    
    padding: 10px;
}