body{
    background-color: beige;
    padding: 0;
}


.page-header{
    
    display: grid;
    grid-template-columns: 200px auto ;
    background-color: #ffffff;
    
}



.page-footer{
   text-align: center;
}
.feature{
    background-color: #ffffff;
    padding-left: 15px;
}
.features-list{
    list-style: none;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

}
 .copyright{
    background-color: black;
    color: #ffffff;
    padding: 10px;
 }
